[submodule "mez3n.blog/public"]
	path = mez3n.blog/public
	url = git@github.com:mez3n/mez3n.blog.git
	branch = main
[submodule "mez3n.blog/themes/hugo-PaperMod"]
	path = mez3n.blog/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
	branch = master
